/*FONT STYLE FOR ALL TEXT ON PAGE, BOX SIZING*/

*{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
}

/*HEADER*/

.header-block {
	width: 1440px;
	height: 726px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/rectangle.png"), #C4C4C4;
	background-repeat: no-repeat;
	background-size: cover;
}

/*SOCIAL MEDIA*/

.social-media-container {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 21px;
}

.social-media-container a{
	margin: 0 5px;
	color: white ;
	text-decoration: none;
}

/*HERO*/

.hero-sub-container {
	width: 50%;
	padding-left: 50px;
}

.hero-sub-container h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 53.2px;
	line-height: 62px;
	color: #FFFFFF;
}

.hero-sub-container p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18.2px;
	line-height: 21px;
	color: #FFFFFF;
}

.video-button {
	border: none;
	padding: 10px 20px;
	background-color: #F44336;
	box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
	border-radius: 3px;
	width: 179px;
	height: 54px;
	color: #FFFFFF;
}

.hero-sub-container a {
	margin: 5px;
}

/*MAIN CONTAINER*/

.main-container {
	width: 1380px;
	height: 2045px;
	background-color: white;
}

/*PRODUCT*/

.product-block {
	/*border: 1px solid black;*/
	height: 150px;
	background-color: white;
	margin: 10px;
	text-align: center;
}

.product-block h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36.4px;
	line-height: 43px;
	color: #3C4858;
}

.product-block p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 17.5px;
	line-height: 21px;
	text-align: center;
	color: #999999;
}

/*FEATURES*/

.feature-block {
	/*border: 1px solid black;*/
	height: 300px;
	/*background-color: red;*/
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

.feature {
	/*border: 1px solid black;
	width: 300px;
	background-color: green;*/
	text-align: center;
}

.feature h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #3C4858;
}

.feature p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	color: #999999;
}


.first-feature-image {
	/*border: 1px solid black;
	background-color: white;*/
}

.second-feature-image {
	/*border: 1px solid black;
	background-color: white;*/
}

.third-feature-image {
	/*border: 1px solid black;
	background-color: white;*/
}


/*TEAM*/

.team-container {
	/*border: 1px solid black;*/
	height: 700px;
	background-color: white;
	text-align: center;
	margin: 10px;
}

.team-container h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36.4px;
	line-height: 43px;
	color: #3C4858;
}

.block-align {
	/*border: 1px solid black;
	height: 500px;
	background-color: red;*/
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

/*PERSON DETAILS*/

.person {
	/*border: 1px solid black;
	height: 450px;
	width: 400px;
	background-color: green;*/
}

.first-person-image img {
	width: 170px;
	height: 170px;
}

.second-person-image img {
	width: 170px;
	height: 170px;
}

.third-person-image img {
	width: 170px;
	height: 170px;
}

.person-name {
	/*border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;*/
}

.person-name h2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18.2px;
	line-height: 21px;
	color: #3C4858;
}

.person-role {
	/*border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;*/
}

.person-role h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 13.65px;
	line-height: 16px;
	color: #777777;
}

.person-description {
	/*border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;*/
}

.person-description p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #999999;
}

.person-social {
	/*border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.person-social img {
	margin: 0 15px;
}

/*FORM*/

.header-work h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36.4px;
	line-height: 43px;
	text-align: center;
	color: #3C4858;
}

.little-text p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 18.2px;
	line-height: 21px;
	text-align: center;
	color: #999999;
}

.work-with-us-block {
	/*border: 1px solid black;*/
	height: 500px;
	background-color: white;
	margin: 10px;
}

.header-work {
	/*border: 1px solid black;
	height: 70px;
	width: 500px;
	background-color: orange;*/
	margin: auto;
}

.little-text {
	/*border: 1px solid black;*/
	height: 72px;
	width: 753px;
	/*background-color: red;*/
	margin: auto;
}

.work-form {
	/*border: 1px solid black;*/
	height: 70px;
	width: 500px;
	/*background-color: yellow;*/
	margin: auto;
}

.inputs-container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.inputs-container input {
	width: 44%;
}

.work-form textarea {
	width: 100%;
	height: 70px;
	border: none;
	resize: none;
	border-bottom: 1px solid #999999; 
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #999999;
}

::placeholder {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #999999;
}

/*.work-message {
	border: 1px solid black;
	height: 100px;
	width: 500px;
	background-color: purple;
	margin: auto;
	display: flex;
	flex-direction: column;
}*/

.your-message {
	/*border: 1px solid black;*/
	height: 60px;
	width: 450px;
	/*background-color: black;*/
	margin: auto;
	align-items: center;
}

.work-button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.send-button {
	width: 148px;
	height: 41px;
	background: #9C27B0;
	box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
	border-radius: 3px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*FOOTER*/

.footer {
	border: 1px solid black;
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: space-between;
}

.site-map {
	border: 1px solid black;
	height: 20px;
	width: 550px;
	background-color: yellow;
}

.site-map a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #333333;
	text-decoration: none;
	vertical-align: top;
	margin-left: 45px;
}

.copyright {
	border: 1px solid black;
	height: 20px;
	width: 300px;
	background-color: yellow;
}

.copyright a {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 11px;
	text-align: center;
	color: #000000;
	text-decoration: none;
	vertical-align: top;
	margin-left: 45px;
}

