/*FONT STYLE FOR ALL TEXT ON PAGE*/

*{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

/*HEADER*/

.header-block {
	width: 1440px;
	height: 726px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/rectangle.png"), #C4C4C4;
	background-repeat: no-repeat;
	background-size: cover;
}

/*SOCIAL MEDIA*/

.social-media-container {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 21px;
}

.social-media-container a{
	margin: 0 5px;
	color: white ;
	text-decoration: none;
}

/*HERO*/

.hero-sub-container {
	width: 50%;
	align-content: : center;
}

.hero-header {
	background-color: yellow;
}

.hero-description {
	background-color: red;
}

.hero-button-container {
	background-color: green;
}

.video-button {
	border: none;
	padding: 10px 20px;
	background-color: #F44336;
	color: #FFFFFF;
}

.hero-sub-container a {
	margin: 5px;
}

/*MAIN CONTAINER*/

.main-container {
	width: 1380px;
	height: 2045px;
	background-color: green;
}

/*PRODUCT*/

.product-block {
	border: 1px solid black;
	height: 150px;
	background-color: orange;
	margin: 10px;
}

.product-header {
	border: 1px solid black;
	height: 50px;
	width: 277px;
	background-color: red;
	margin: auto;
}

.product-description {
	border: 1px solid black;
	height: 70px;
	width: 723px;
	background-color: aqua;
	margin: auto;
}

/*FEATURES*/

.feature-block {
	border: 1px solid black;
	height: 300px;
	background-color: red;
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

.feature {
	border: 1px solid black;
	height: 80px;
	width: 100px;
	background-color: green;
}

.first-feature-image {
	border: 1px solid black;
	background-color: white;
}

.first-feature-heading {
	border: 1px solid black;
	background-color: white;
	width: 124px;
	height: 100px;
}

.first-feature-description {
	border: 1px solid black;
	background-color: white;
	width: 328px;
	height: 100px;
}

.second-feature-image {
	border: 1px solid black;
	background-color: white;
}

.second-feature-heading {
	border: 1px solid black;
	background-color: white;
	width: 124px;
	height: 100px;
}

.second-feature-description {
	border: 1px solid black;
	background-color: white;
	width: 328px;
	height: 100px;
}

.third-feature-image {
	border: 1px solid black;
	background-color: white;
}

.third-feature-heading {
	border: 1px solid black;
	background-color: white;
	width: 124px;
	height: 100px;
}

.third-feature-description {
	border: 1px solid black;
	background-color: white;
	width: 328px;
	height: 100px;
}

/*TEAM*/

.team-container {
	border: 1px solid black;
	height: 700px;
	background-color: purple;
	margin: 10px;
}

.header-team {
	border: 1px solid black;
	height: 80px;
	width: 250px;
	background-color: orange;
	margin: auto;
}

.block-align {
	border: 1px solid black;
	height: 500px;
	background-color: red;
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

.first-person {
	border: 1px solid black;
	height: 450px;
	width: 200px;
	background-color: green;
}

.first-person-image {
	border: 1px solid black;
	height: 200px;
	width: 200px;
	background-color: white;
}

.first-person-name {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.first-person-role {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.first-person-description {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.first-person-social {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.second-person {
	border: 1px solid black;
	height: 450px;
	width: 200px;
	background-color: blue;
}

.second-person-image {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.second-person-name {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.second-person-role {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.second-person-description {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.second-person-social {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.third-person {
	border: 1px solid black;
	height: 450px;
	width: 200px;
	background-color: yellow;
}

.third-person-image {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.third-person-name {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.third-person-role {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.third-person-description {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

.third-person-social {
	border: 1px solid black;
	height: 25px;
	width: 100px;
	background-color: white;
}

/*FORM*/

.work-with-us-block {
	border: 1px solid black;
	height: 260px;
	background-color: aqua;
	margin: 10px;
}

.header-work {
	border: 1px solid black;
	height: 25px;
	width: 500px;
	background-color: orange;
	margin: auto;
}

.little-text {
	border: 1px solid black;
	height: 25px;
	width: 500px;
	background-color: red;
	margin: auto;
}

.work-form {
	border: 1px solid black;
	height: 70px;
	width: 500px;
	background-color: yellow;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.your-name {
	border: 1px solid black;
	height: 40px;
	width: 200px;
	background-color: black;
}

.your-email {
	border: 1px solid black;
	height: 40px;
	width: 200px;
	background-color: black;
}

.work-message {
	border: 1px solid black;
	height: 100px;
	width: 500px;
	background-color: purple;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.your-message {
	border: 1px solid black;
	height: 60px;
	width: 450px;
	background-color: black;
	margin: auto;
	align-items: center;
}

.work-button {
	margin: auto;
}

/*FOOTER*/

.footer {
	border: 1px solid black;
	height: 50px;
	background-color: black;
	display: flex;
	justify-content: space-between;
}

.site-map {
	border: 1px solid black;
	height: 20px;
	width: 200px;
	background-color: yellow;
}

.copyright {
	border: 1px solid black;
	height: 20px;
	width: 200px;
	background-color: yellow;
}

